.explore{
  position: relative; 
  overflow-x:scroll;
  overflow-y:hidden;
  white-space:nowrap;
}

div a{
  text-decoration: none;
}

div a img{
  position: relative;
  width: 20%;
  display: inline-block;
}
