.explore{
  position: relative; 
  overflow-x:scroll;
  overflow-y:hidden;
  white-space:nowrap;
}

div a{
  text-decoration: none;
}

div a img{
  position: relative;
  width: 20%;
  height: 20%;
  display: inline-block;
}
.container {
  position: relative;
  width: 50%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f2ddde;
}

.container:hover .overlay {
  opacity: 0.5;
}

.text {
  color: #585858;
  opacity: 1;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
