.explore{
  position: relative; 
  overflow-x:scroll;
  overflow-y:hidden;
  white-space:nowrap;
}

div {
  text-decoration: none;
}

.image{
  position: relative;
  width: 20%;
  height: 20%;
  display: inline-block;
}

.container {
    position: relative;
    width: 20%;
    display: inline-block;
    background-color: #f2ddde;
    margin:3px;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  
}

.middle {
  width:100%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
  
}

.text{
  background-color: #6f796e;
  color: #e7e6e6;
  font-size: 1rem;
  padding-left: 2%;
  padding-right: 2%;
  width:auto;
  height: 48px;
  padding-top:9px;
  text-align:center;
  font-family: 'Amatic SC';
}




