footer.footer
  script(src="https://use.fontawesome.com/a404a9b8d8.js")
  p.footerText COPYRIGHT 2017
    i.fa.fa-copyright(aria-hidden="true")
  p.socialMedia
    a(href="https://www.facebook.com/andrewchalkley")
      i.fa.fa-facebook-square(aria-hidden="true")
    a(href="https://www.pinterest.com/juliabmarshall/")
      i.fa.fa-pinterest-square(aria-hidden="true")
    a(href="https://twitter.com/chalkers?lang=en")
      i.fa.fa-twitter-square(aria-hidden="true")
    a(href="https://www.instagram.com/juliabmarshall/")
      i.fa.fa-instagram(aria-hidden="true")
