header
  nav
    ul.navigation
      h1#brand
        a(href='/') Soul Patch Music
      li#logo
<<<<<<< HEAD
        img(src="img/soulpatch.png")
      li.pages
=======
        a(href='/')
          img(src="img/soulpatch.png")
      li.pages 
>>>>>>> ab0b01a72862a9cd472a7734e6f8272826a3b20a
        a(href='/genres') ALL ALBUMS
      li.pages
        a(href='/genres') POP
      li.pages
        a(href='/genres') RAP/HIP HOP
      li.pages
        a(href='/genres') CLASSICAL
      li.pages
        a(href='/genres') JAZZ
      li.pages
        a(href='/genres') FOLK
      li.pages
        a(href='/genres') COUNTRY
      li.pages
        a(href='/genres') LATIN
      .dropdown
        li.dropdownbutton.pages MORE GENRES
        ul.dropdown-content
          li.dropdown-pages
            a(href='/genres') DECADES
          li.dropdown-pages
            a(href='/genres') ALT ROCK
          li.dropdown-pages
            a(href='/genres') ACOUSTIC INDIE
          li.dropdown-pages
            a(href='/genres') R&B/SOUL
          li.dropdown-pages 
            a(href='/genres') FRENCH
          li.dropdown-pages
            a(href='/genres') SOUNDTRACKS
