header
  nav
    ul.navigation
      h1#brand Soul Patch Music
      li#logo
        img(src="img/soulpatch.png")
      li.pages ALL ALBUMS
      li.pages POP
      li.pages RAP/HIP HOP
      li.pages CLASSICAL
      li.pages JAZZ
      li.pages FOLK
      li.pages COUNTRY
      li.pages LATIN
      .dropdown
        li.dropdownbutton.pages MORE GENRES
        ul.dropdown-content
          li.dropdown-pages DECADES
          li.dropdown-pages ALT ROCK
          li.dropdown-pages ACOUSTIC INDIE
          li.dropdown-pages R&B/SOUL
          li.dropdown-pages FRENCH
          li.dropdown-pages SOUNDTRACKS
