<!DOCTYPE html>
<html>
<main id="albumPage">
    <div id="complete">
        <div id="photo">
            <img src="{{coverArt}}" class="albumBodyAlbum" />
        </div>
        <div id="description">
            <h1 class="albumBodyTitle">{{title}} by {{artist}}</h1>
            <p class="albumBodyDescription">{{description}}</p>
        </div>
    </div>
    <aside class="album-dropdown">
        <ul class="navigation cooler-dropdown">
            <div class="dropdown">
                <li class="dropdown-button">Platform:</li>
                <ul class="dropdown-contentAlbum albumBodyLink" , style>
                    <li class="albumBodyLink"> Vinyl: $9.99 </li>
                    <li class="albumBodyLink"> Cassette: $2.00 </li>
                    <li class="albumBodyLink"> CD: $2.00 </li>
                    <li class="albumBodyLink"> Digital: Free </li>
                </ul>
            </div>
        </ul>
    </aside>
</main>

</html>