<!DOCTYPE html>
<html>
<main id="albumPage">
    <div id="complete">
        <div id="photo">
            <img src="{{coverArt}}" class="albumBodyAlbum" />
        </div>
        <div id="description">
            <h1 class="albumBodyTitle">{{title}} by {{artist}}</h1>
            <p class="albumBodyDescription">{{description}}</p>
            <aside class="album-dropdown">
                <a class="btn buyButton" href="https://docs.google.com/forms/d/e/1FAIpQLSdPhXULSdMs1_n0fNzFeUaOPdkvBoQnSxLdUNB7h8rXCd9B8g/viewform?embedded=true"> Vinyl: $9.99 </a>
                <a class="btn buyButton" href="https://docs.google.com/forms/d/e/1FAIpQLSdPhXULSdMs1_n0fNzFeUaOPdkvBoQnSxLdUNB7h8rXCd9B8g/viewform?embedded=true"> Cassette: $2.00 </a>
                <a class="btn buyButton" href="https://docs.google.com/forms/d/e/1FAIpQLSdPhXULSdMs1_n0fNzFeUaOPdkvBoQnSxLdUNB7h8rXCd9B8g/viewform?embedded=true"> CD: $2.00 </a>
            </aside>
        </div>
    </div>
</main>

</html>