extends layout.pug

block main
  #complete
    #photo
      img.albumBodyAlbum(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
    #description
      h1.albumBodyTitle Romantic Works by Keaton Henson 
      p.albumBodyDescription Romantic Works is the 3rd album by British musician Keaton Henson. This album was written to be completely instrumental and features cellist Ren Ford. It was released in 2014 and features tracks such as "Earnestly Yours" and "Healah Dancing"
  aside
    ul.navigation
      .dropdown
        li.dropdown-button Platform:
        ul.dropdown-contentAlbum.albumBodyLink
          li.albumBodyLink  Vinyl: $9.99 
          li.albumBodyLink  Cassette: $2.00 
          li.albumBodyLink  CD: $2.00 
          li.albumBodyLink  Digital: Free 