<!DOCTYPE html>

<html>
<head> 
    <link type= "text/css", rel = "stylesheet", href = "albumBody.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet"> 
</head> 

<body>  
    <div id = "complete"> 
        <div id = "photo">
            <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/> 
        </div>
        <div id = "description">
            <h1> Romantic Works by Keaton Henson </h1> 
            <p> Romantic Works is the 3rd album by British musician Keaton Henson. This album was written to be completely instrumental and features cellist Ren Ford. It was released in 2014 and features tracks such as "Earnestly Yours" and "Healah Dancing" </p>
        </div>
    </div> 
</body> 
</html>