<!DOCTYPE html>
<html>
<main>
    <div id="complete">
        <div id="photo">
            <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="albumBodyAlbum" />
        </div>
        <div id="description">
            <h1 class="albumBodyTitle"> Romantic Works by Keaton Henson </h1>
            <p class="albumBodyDescription"> Romantic Works is the 3rd album by British musician Keaton Henson. This album was written to be completely instrumental
                and features cellist Ren Ford. It was released in 2014 and features tracks such as "Earnestly Yours" and
                "Healah Dancing" </p>
        </div>
    </div>
    <aside>
        <ul class="navigation">
            <div class="dropdown ">
                <li class="dropdown-button">Platform:</li>
                <ul class="dropdown-contentAlbum albumBodyLink" , style>
                    <li class="albumBodyLink"> Vinyl: $9.99 </li>
                    <li class="albumBodyLink"> Cassette: $2.00 </li>
                    <li class="albumBodyLink"> CD: $2.00 </li>
                    <li class="albumBodyLink"> Digital: Free </li>
                </ul>
            </div>
        </ul>
    </aside>
</main>

</html>