<!DOCTYPE html>
<html>
    <section class="desk">
        <h1 class="error-message"></h1>
        <img class="desk-items" src="/static/img/soulpatch.png"/>
        <h2 class="error-greeting">You look a little lost</h2>
        <a class="button-primary-small" href="/">Do you wanna go home?</a>
        <div class="paper">
            
        </div>
    </section>
</html>