extends layout.pug

block main
  section.desk
    h1= `${error.message} - Status: ${error.status}`
    img.desk-items(src='/static/img/soulpatch.png')
    h2 You look a little lost
    a.button-primary-small(href='/') Do you wanna go home?
    .paper
      pre.stack-trace= error.stack
    .tear