<!DOCTYPE html>
<html>
    <main class="error-page">
        <h1 class="error-message">{{error.message}} - Status {{error.status}}</h1>
        <img class="soulman" src="/img/soulpatch.png"/>
        <h2 class="error-greeting">You look a little lost...</h2>
        <div class="error-buttons">
            <a class="return-to-home" href="/">Do you wanna go home?</a>
            <a class="return-to-home-mobile" href="/">Home</a>
            <a class="return-to-albums" href="/genres">Do you wanna find more albums?</a>
            <a class="return-to-albums-mobile" href="/genres">Albums</a>
        </div>
    </main>
</html>
