<!DOCTYPE html>
<html>
    <section class="error-page">
        <h1 class="error-message">{{error.message}}-Status {{error.status}}</h1>
        <img class="soulman" src="/static/img/soulpatch.png"/>
        <h2 class="error-greeting">You look a little lost</h2>
        <a class="return-to-home" href="/">Do you wanna go home?</a>
    </section>
</html>