<!DOCTYPE html>
<html>
    <head>
        <title> GENRE PAGE </title>
        <link type = "text/css", rel = "stylesheet", href = "../public/stylesheets/genre-page/genre-style.css"/></link>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li> ALL ALBUMS </li>
                    <li> POP </li>
                    <li> RAP/HIP HOP </li>
                    <li> CLASSICAL </li>
                    <li> JAZZ </li>
                    <li> FOLK </li>
                    <li> COUNTRY </li>
                    <li> LATIN </li>
                    <div class="dropdown">
                        <li class="dropdown-button">MORE GENRES</li>
                        <ul class="dropdown-content">
                            <li> DECADES </li>
                            <li> ALT ROCK </li>
                            <li> ACOUSTIC INDIE </li>
                            <li> R&B/SOUL </li>
                            <li> FRENCH </li>
                            <li> SOUNDTRACKS </li>
                        </ul>
                    </div>
                </ul>
            </nav>
        </header>

        <main>
            <h1> GENRE </h1>
            <ul id="myUL">
                <li>
                    <a href> <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/> Meghan </a>
                </li>
                <li>
                    <a href> <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/> Milla </a>
                </li>
                <li>
                    <a href> <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/> Lucile </a>
                </li>
                <li>
                    <a href> <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/> Buster </a>
                </li>
                <li>
                    <a href> <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/> Julia </a>
                </li>
                <li>
                    <a href> <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/> Michael </a>
                </li>
                <li>
                    <a href> <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/> George Michael </a>
                </li>
                <li>
                    <a href> <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/> GOB </a>
                </li>
                <li>
                    <a href> <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/> Tobias </a>
                </li>
                <li>
                    <a href> <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/> Maeby </a>
                </li>
                <li>
                    <a href> <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/> Lyndsey </a>
                </li>
                <li>
                    <a href> <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/> Angyong </a>
                </li>
            </ul>
        </main>

        <footer class="footer">
            <script src="https://use.fontawesome.com/a404a9b8d8.js"></script>
            <p class="footerText"> COPYRIGHT 2017 <i class="fa fa-copyright" aria-hidden="true"></i>
            </p>
                <p class="socialMedia">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </p>
        </footer>
    </body>
</html>
