extends layout.pug


main#genre-page
  h1#genre-name  GENRE 
  input#myInput(type='text', onkeyup='myFunction()', placeholder='Search for albums..')
  ul#myUL
    li
      img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
      a(href='')  Meghan 
    li
      img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
      a(href='')  Milla 
    li
      img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
      a(href='')  Lucile 
    li
      img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
      a(href='')  Buster 
    li
      img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
      a(href='')  Julia 
    li
      img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
      a(href='')  Michael 
    li
      img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
      a(href='')  George Michael 
    li
      img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
      a(href='')  GOB 
    li
      img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
      a(href='')  Tobias 
    li
      img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
      a(href='')  Maeby 
    li
      img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
      a(href='')  Lyndsey 
    li
      img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
      a(href='')  Angyong 