<!DOCTYPE html>
<html>
    <head>
        <title> GENRE PAGE </title>
        <link type = "text/css", rel = "stylesheet", href = "../public/stylesheets/genre-page/genre-style.css"/></link>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for albums..">
        <script src="searchbar.js"></script>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li> ALL ALBUMS </li>
                    <li> POP </li>
                    <li> RAP/HIP HOP </li>
                    <li> CLASSICAL </li>
                    <li> JAZZ </li>
                    <li> FOLK </li>
                    <li> COUNTRY </li>
                    <li> LATIN </li>
                    <div class="dropdown">
                        <li class="dropdown-button">MORE GENRES</li>
                        <ul class="dropdown-content">
                            <li> DECADES </li>
                            <li> ALT ROCK </li>
                            <li> ACOUSTIC INDIE </li>
                            <li> R&B/SOUL </li>
                            <li> FRENCH </li>
                            <li> SOUNDTRACKS </li>
                        </ul>
                    </div>
                </ul>
            </nav>
        </header>

        <main>
            <h1> GENRE </h1>

            <ul id="myUL">
                <li>
                    <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                    <a href> Meghan </a>
                </li>
                <li>
                    <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                    <a href> Milla </a>
                </li>
                <li>
                    <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                    <a href> Lucile </a>
                </li>
                <li>
                    <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                    <a href> Buster </a>
                </li>
                <li>
                    <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                    <a href> Julia </a>
                </li>
                <li>
                    <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                    <a href> Michael </a>
                </li>
                <li>
                    <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                    <a href> George Michael </a>
                </li>
                <li>
                    <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                    <a href> GOB </a>
                </li>
                <li>
                    <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                    <a href> Tobias </a>
                </li>
                <li>
                    <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                    <a href> Maeby </a>
                </li>
                <li>
                    <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/> 
                    <a href> Lyndsey </a>
                </li>
                <li>
                    <img src = "https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/> 
                    <a href> Angyong </a>
                </li>
            </ul>
        </main>

        <footer class="footer">
            <script src="https://use.fontawesome.com/a404a9b8d8.js"></script>
            <p class="footerText"> COPYRIGHT 2017 <i class="fa fa-copyright" aria-hidden="true"></i>
            </p>
                <p class="socialMedia">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </p>
        </footer>
    </body>
</html>
