<!DOCTYPE html>
<html>
    <head>
        <title> GENRE PAGE </title>
        <link type = "text/css", rel = "stylesheet", href = "genres-style.css"/></link>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li> ALL ALBUMS </li>
                    <li> POP </li>
                    <li> RAP/HIP HOP </li>
                    <li> CLASSICAL </li>
                    <li> JAZZ </li>
                    <li> FOLK </li>
                    <li> COUNTRY </li>
                    <li> LATIN </li>
                    <div class="dropdown"> 
                        <li class="dropdown-button">MORE GENRES</li>
                        <ul class="dropdown-content">
                            <li> DECADES </li>
                            <li> ALT ROCK </li>
                            <li> ACOUSTIC INDIE </li>
                            <li> R&B/SOUL </li>
                            <li> FRENCH </li>
                            <li> SOUNDTRACKS </li>
                        </ul>
                    </div>
                </ul>
            </nav>
        </header>
    </body>
</html>