<!DOCTYPE html>
<html lang="en">
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-caret-square-o-up" aria-hidden="true"></i></button>

<main id="genre-page">
    <h1 id="genre-name"> {{genreTitle}} </h1>
    <input id="myInput" type="text" onkeyup="myFunction()" placeholder="Search for albums.."> 
    
    <ul id="myUL">
    {{#each data}}
    <li>
        <a href="/album?album={{title}}">
            <img src="{{coverArt}}"/>
            <span class="name">{{title}}</span>
        </a>
    </li>
    {{/each}}
    </ul> 
</main>

</html>