extends layout.pug
  block content
    button#myBtn(onclick="topFunction()", title="Go to Top")
      i.fa.fa-caret-square-o-up(aria-hidden="true")

    main#genre-page
      h1#genre-name GENRE
      input#myInput(type="text", onkeyup="myFunction()", placeholder="Search for albums..")

      ul#myUL
        li
          a(href"")
          img(src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jp")
        li
          a(href"")
          img(src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jp")
        li
          a(href"")
          img(src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jp")
        li
          a(href"")
          img(src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jp")
        li
          a(href"")
          img(src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jp")
        li
          a(href"")
          img(src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jp")
        li
          a(href"")
          img(src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jp")
        li
          a(href"")
          img(src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jp")
        li
          a(href"")
          img(src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jp")
        li
          a(href"")
          img(src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jp")
        li
          a(href"")
          img(src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jp")
        li
          a(href"")
          img(src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jp")
