<!DOCTYPE html>
<html lang="en">
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-caret-square-o-up" aria-hidden="true"></i></button>

<main id="genre-page">
    <h1 id="genre-name"> Pop </h1>
    <input id="myInput" type="text" onkeyup="myFunction()" placeholder="Search for albums.."> 
    
    <ul id="myUL">
    {{#each pop}}
    <li>
        <a href="/album">
            <img src="{{coverArt}}"/>
            <span class="name">{{title}}</span>
        </a>
    </li>
    {{/each}}
    </ul> 

    {{!--<ul id="myUL">
        <li>
            <a href="/album"><img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                <span class ="name">Meghan</span>
            </a>
        </li>
        <li>
            <a href="/album"><img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                <span class ="name">Milla</span>
            </a>
        </li>
        <li>
            <a href="/album"><img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                <span class ="name">Lucile</span>
            </a>
        </li>
        <li>
            <a href="/album"><img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                <span class ="name">Buster</span>
            </a>
        </li>
        <li>
            <a href="/album"><img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                <span class ="name">Julia</span>
            </a>
        </li>
        <li>
            <a href="/album"><img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                <span class ="name">Michael</span>
            </a>
        </li>
        <li>
            <a href="/album"><img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                <span class ="name">George Michael</span>
            </a>
        </li>
        <li>
            <a href="/album"><img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                <span class ="name">GOB</span>
            </a>
        </li>
        <li>
            <a href="/album"><img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                <span class ="name">Tobias</span>
            </a>
        </li>
        <li>
            <a href="/album"><img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                <span class ="name">Maeby</span>
            </a>
        </li>
        <li>
            <a href="/album"><img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                <span class ="name">Lyndsey</span>
            </a>
        </li>
        <li>
            <a href="/album"><img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg"/>
                <span class ="name">Angyong</span>
            </a>
        </li>
    </ul> --}}
</main>

</html>