extends layout.pug

block main
  #genre-page
    h1#genre-name  GENRE
    input#myInput(type='text', onkeyup='myFunction()', placeholder='Search for albums..')
    ul#myUL
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
<<<<<<< HEAD:views/genre-page.pug
        a(href='') Meghan
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='') Milla
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='')Lucile
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='')Buster
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='')Julia
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='')Michael
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='')George Michael
=======
        a(href='') Meghan 
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='') Milla 
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='') Lucile 
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='') Buster 
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='') Julia 
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='') Michael 
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='') George Michael 
>>>>>>> 6312a9f904f49c5a569db8933b7a4ab714709bac:views/genres.pug
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='')GOB
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='')Tobias
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='')Maeby
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        a(href='')Lyndsey
      li
        img(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
<<<<<<< HEAD:views/genre-page.pug
        a(href='')Angyong

    button#myBtn(onclick='topFunction()', title='Go to top')
      i.fa.fa-caret-square-o-up(aria-hidden='true')
=======
        a(href='')  Angyong 
    
    
    
>>>>>>> 6312a9f904f49c5a569db8933b7a4ab714709bac:views/genres.pug
