extends layout.pug

block main
  button#myBtn(onclick='topFunction()', title='Go to top')
      i.fa.fa-caret-square-o-up(aria-hidden='true')
  main#genre-page
    h1#genre-name  GENRE
    input#myInput(type='text', onkeyup='myFunction()', placeholder='Search for albums..')
    ul#myUL
      li.containerGenre
        a(href='')
        img.imageGenre(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middleGenre
          .textGenre Meghan
      li.containerGenre
        a(href='')
        img.imageGenre(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middleGenre
          .textGenre Milla
      li.containerGenre
        a(href='')
        img.imageGenre(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middleGenre
          .textGenre Lucile
      li.containerGenre
        a(href='')
        img.imageGenre(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middleGenre
          .textGenre Buster
      li.containerGenre
        a(href='')
        img.imageGenre(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middleGenre
          .textGenre Julia
      li.containerGenre
        a(href='')
        img.imageGenre(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middleGenre
          .textGenre Michael
      li.containerGenre
        a(href='')
        img.imageGenre(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middleGenre
          .textGenre George Michael
      li.containerGenre
        a(href='')
        img.imageGenre(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middleGenre
          .textGenre GOB
      li.containerGenre
        a(href='')
        img.imageGenre(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middleGenre
          .textGenre Tobias
      li.containerGenre
        a(href='')
        img.imageGenre(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middleGenre
          .textGenre Maeby
      li.containerGenre
        a(href='')
        img.imageGenre(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middleGenre
          .textGenre Lyndsey
      li.containerGenre
        a(href='')
        img.imageGenre(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middleGenre
          .textGenre Angyong
