main.homePage
  h2  NEW RELEASES 
  .explore
    .albums
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
  h2  MOST POPULAR 
  .explore
    .albums
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
  h2  $T@FF P!CKZ 
  .explore
    .albums
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg', style='width:100%')
        .middle
          .text Romantic Works by Keaton Henson