<html lang="en">
    <main class = "homePage">
        <h2> NEW RELEASES </h2>
        <div class="explore">
            <div class="albums">
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
            </div>
        </div>

        <h2> MOST POPULAR </h2>
        <div class="explore">
            <div class="albums">
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
            </div>
        </div>

        <h2> $T@FF P!CKZ </h2>
        <div class="explore">
            <div class="albums">
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</html>
