extends layout

block main
  .homePage
    h2 New Releases
    .explore
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
    
    h2 Most Popular
    .explore
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
    
    h2 $t@ff P!ckz
    .explore
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
      .container
        img.image(src='https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg')
        .middle
          .text Romantic Works by Keaton
