<!DOCTYPE html>
<html>

{{!-- <head>
    <title> HOME PAGE </title>
    <link rel="icon" href="../public/img/soulpatch.png">
    <link type="text/css" , rel="stylesheet" , href="../public/stylesheets/stylesheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet" />
</head>


    <header>
        <nav>
            <ul class = "navigation">
                <h1 id = "brand"> Soul Patch Music </h1>
                <li id = "logo"><img src="../public/img/soulpatch.png" /></li>
                <li class = "pages"> ALL ALBUMS </li>
                <li class = "pages"> POP </li>
                <li class = "pages"> RAP/HIP HOP </li>
                <li class = "pages"> CLASSICAL </li>
                <li class = "pages"> JAZZ </li>
                <li class = "pages"> FOLK </li>
                <li class = "pages"> COUNTRY </li>
                <li class = "pages"> LATIN </li>
                <div class="dropdown">
                    <li class="dropdown-button" class = "pages">MORE GENRES</li>
                    <ul class="dropdown-content">
                        <li class = "dropdown-pages"> DECADES </li>
                        <li class = "dropdown-pages"> ALT ROCK </li>
                        <li class = "dropdown-pages"> ACOUSTIC INDIE </li>
                        <li class = "dropdown-pages"> R&B/SOUL </li>
                        <li class = "dropdown-pages"> FRENCH </li>
                        <li class = "dropdown-pages"> SOUNDTRACKS </li>
                    </ul>
                </div>
            </ul>
        </nav>
    </header> --}}

{{#extend "views/default.handlebars" foo = "bar"}}
<body> 
    <main class = "homePage">
        <h2> NEW RELEASES </h2>
        <div class="explore">
            <div class="albums">
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
            </div>
        </div>

        <h2> MOST POPULAR </h2>
        <div class="explore">
            <div class="albums">
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
            </div>
        </div>

        <h2> $T@FF P!CKZ </h2>
        <div class="explore">
            <div class="albums">
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://i.ytimg.com/vi/Ln3BmBHAJ-c/maxresdefault.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Romantic Works by Keaton Henson</div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {{!-- <footer class="footer">
        <script src="https://use.fontawesome.com/a404a9b8d8.js"></script>
        <p class="footerText"> COPYRIGHT 2017 <i class="fa fa-copyright" aria-hidden="true"></i>
        </p>
        <p class="socialMedia">
            <a href="https://www.facebook.com/andrewchalkley" /> <i class="fa fa-facebook-square" aria-hidden="true"> </a></i>
            <a href="https://www.pinterest.com/juliabmarshall/" /> <i class="fa fa-pinterest-square" aria-hidden="true"></a></i>
            <a href="https://twitter.com/chalkers?lang=en" /> <i class="fa fa-twitter-square" aria-hidden="true"></a></i>
            <a href="https://www.instagram.com/juliabmarshall/" /> <i class="fa fa-instagram" aria-hidden="true"></a></i>
        </p>
    </footer> --}}
</body>
{{/extend}}


</html>
