doctype html 
html (lang = “en”)
	head
		title Soul Patch Music 
		link (rel = ‘stylesheet’, href = ‘/public/stylesheets/stylesheet.css’)
		link(href='https://fonts.googleapis.com/css?family=Amatic+SC', rel='stylesheet’)
	body
		include includes/header.pug
		include includes/footer.pug
		block main
		button#myBtn(onclick='topFunction()', title='Go to top')
  			i.fa.fa-caret-square-o-up(aria-hidden='true')