doctype html
html(lang='en')
	head
		title Soul Patch Music
		link(href='/static/stylesheets/stylesheet.css', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Amatic+SC', rel='stylesheet')
		script(src='searchbar.js')
		script(src='top-button.js')
	body
		include includes/header.pug
		block main
		include includes/footer.pug
