<!DOCTYPE html>
<html lang="en">

<head>
    <title> Soul Patch Music </title>
    <link rel="icon" href="../public/img/soulpatch.png" />
    <link rel="stylesheet" , type="text/css" href="/stylesheets/stylesheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" , rel="stylesheet" , type="text/css" />
    <script src="javascript/searchbar.js"></script>
    <script src="javascript/top-button.js"></script>
    <meta name="media" content="width=device-width"/>
</head>

<header>
    <nav>
        <h1 id="brand"><a href="/">Soul Patch Music</a></h1>
        <div class="navigation-bar">
            <span id="logo"><a href="/"><img src="img/soulpatch.png" /></a></span>
            <ul class="navigation">
                <li class="pages"><a href="/genres">ALL ALBUMS</a></li>
                <li class="pages"><a href="/genres?genre=pop">POP</a></li>
                <li class="pages"><a href="/genres?genre=jazz">JAZZ</a></li>
                <li class="pages"><a href="/genres?genre=folk">FOLK</a></li>
                <li class="pages"><a href="/genres?genre=country">COUNTRY</a></li>
                <li class="pages"><a href="/genres?genre=latin">LATIN</a></li>
                <div class="dropdown">
                    <li class="dropdownbutton pages"><span>MORE GENRES</span></li>
                    <ul class="dropdown-content">
                        <li class="dropdown-pages"><a href="/genres?genre=rap">RAP/HIP HOP</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=classical">CLASSICAL</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=decades">DECADES</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=alt">ALT ROCK</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=indie">INDIE</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=rnb">R&B/SOUL</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=french">FRENCH</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=soundtracks">SOUNDTRACKS</a></li>
                    </ul>
                </div>
            </ul>
            <ul class="navigation-mobile">
                <li class="pages"><a href="/genres">ALL ALBUMS</a></li>
                <div class="dropdown">
                    <li class="dropdownbutton pages"><span>MORE GENRES</span></li>
                    <ul class="dropdown-content">
                        <li class="dropdown-pages"><a href="/genres?genre=pop">POP</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=jazz">JAZZ</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=folk">FOLK</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=country">COUNTRY</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=latin">LATIN</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=rap">RAP/HIP HOP</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=classical">CLASSICAL</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=decades">DECADES</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=alt">ALT ROCK</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=indie">INDIE</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=rnb">R&B/SOUL</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=french">FRENCH</a></li>
                        <li class="dropdown-pages"><a href="/genres?genre=soundtracks">SOUNDTRACKS</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </nav>
</header>

<body>
    {{{ body }}}
</body>

<footer class="footer">
    <script src="https://use.fontawesome.com/a404a9b8d8.js"></script>
    <p class="footerText"> COPYRIGHT 2017
        <i class="fa fa-copyright" aria-hidden="true"></i>
    </p>
    <p class="socialMedia">
        <a href="https://www.facebook.com/andrewchalkley">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
        <a href="https://www.pinterest.com/juliabmarshall/">
                <i class="fa fa-pinterest-square" aria-hidden="true"></i>
            </a>
        <a href="https://twitter.com/chalkers?lang=en">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
        <a href="https://www.instagram.com/juliabmarshall/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
    </p>
</footer>

</html>