<!DOCTYPE html>
<html lang="en">

<head>
    <title> Soul Patch Music </title>
    <link rel="icon" href="../public/img/soulpatch.png" />
    <link rel="stylesheet" , type="text/css" href="/static/stylesheets/stylesheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" , rel="stylesheet" , type="text/css" />
    <script src="javascript/searchbar.js"></script>
    <script src="javascript/top-button.js"></script>
</head>

<header>
    <nav>
        <ul class="navigation">
            <h1 id="brand"><a href="/">Soul Patch Music</a></h1>
            <li id="logo"><a href="/"><img src="img/soulpatch.png" /></a></li>
            <li class="pages"><a href="/genres">ALL ALBUMS</a></li>
            <li class="pages"><a href="/genres">POP</a></li>
            <li class="pages"><a href="/genres">RAP/HIP HOP</a></li>
            <li class="pages"><a href="/genres">CLASSICAL</a></li>
            <li class="pages"><a href="/genres">JAZZ</a></li>
            <li class="pages"><a href="/genres">FOLK</a></li>
            <li class="pages"><a href="/genres">COUNTRY</a></li>
            <li class="pages"><a href="/genres">LATIN</a></li>
            <div class="dropdown">
                <li class="dropdownbutton pages">MORE GENRES</li>
                <ul class="dropdown-content">
                    <li class="dropdown-pages"><a href="/genres">DECADES</a></li>
                    <li class="dropdown-pages"><a href="/genres">ALT ROCK</a></li>
                    <li class="dropdown-pages"><a href="/genres">ACOUSTIC INDIE</a></li>
                    <li class="dropdown-pages"><a href="/genres">R&B/SOUL</a></li>
                    <li class="dropdown-pages"><a href="/genres">FRENCH</a></li>
                    <li class="dropdown-pages"><a href="/genres">SOUNDTRACKS</a></li>
                </ul>
            </div>
        </ul>
    </nav>
</header>

<body>
    {{{ body }}}
</body>

<footer class="footer">
    <script src="https://use.fontawesome.com/a404a9b8d8.js"></script>
    <p class="footerText"> COPYRIGHT 2017
        <i class="fa fa-copyright" aria-hidden="true"></i>
    </p>
    <p class="socialMedia">
        <a href="https://www.facebook.com/andrewchalkley">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
        <a href="https://www.pinterest.com/juliabmarshall/">
                <i class="fa fa-pinterest-square" aria-hidden="true"></i>
            </a>
        <a href="https://twitter.com/chalkers?lang=en">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
        <a href="https://www.instagram.com/juliabmarshall/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
    </p>
</footer>

</html>