doctype html 
html(lang='en')
	head
		title Soul Patch Music 
		link(rel='stylesheet', href='/static/stylesheets/stylesheet.css', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Amatic+SC', rel='stylesheet', type='text/css')
		script(src='javascript/searchbar.js')
		script(src='javascript/top-button.js')
	
	body
		include includes/header.pug
		block main
		include includes/footer.pug
