<!DOCTYPE html>
<html>
    <section class="not-found">
        <h1 class="error-greeting">Hey there...</h2>
        <img class="soulman" src="/img/soulpatch.png"/>
        <h2 class="error-greeting">We don't have what you are looking for</h2>
        <div class="error-buttons">
            <a class="return-to-home" href="/genres">But check out all our other albums</a>
        </div>
    </section>
</html>