@import url(../footer.css);
@import url(../header-nav.css);

*{
  box-sizing:border-box;
}


html{
  font-size: 24px; 
  background-color: #e7e6e6;
  color: #585858;
  font-family: 'Amatic SC';
}

header{
  background-color: #6f796e;
  font-family: 'Amatic SC';
  color: #dfdada;
}

main {
    padding:auto;
}

h1{
    margin:40px;
    position:relative;
    font-size:3em;
    left:10%;
}

main ul{
    border-top:5px solid #585858;
    padding-top:50px;
}

li{
    display:inline;
    list-style-type: none;
}

ul a{
    display:none;
}

img{
    visibility: visible;
    width:20%;
    padding-bottom:50px;
}
