#genre-name{
    margin-top:40px;
    margin-bottom:40px;
    position:relative;
    font-size:3em;
    left:10%;
    overflow:hidden;
    max-width:500px;
    &:hover{
        color:#6f796e;
    }

}

#genre-page{
    position:relative;


    ul{
        border-top:5px solid #585858;
        padding: 50px;
        margin: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;



    }
    li{
        display:inline;
        list-style-type: none;
        margin: auto;



    }
    a{
        text-decoration: none;
        color: #585858;
        text-align: center;
        &:hover{
          color: #6f796e;
        }
        .name{
          max-width: 330px;
          text-align: center;
          padding-bottom: 20px;
        }
    }
    img{
        visibility: visible;
        width:330px;
        padding-bottom:50px;
        padding-left: 2%;
        padding-right: 2%;
        display: block;
    }
}








#myInput{
  font-family: 'Amatic SC';
  width: 160px;
  border: 1px solid #585858;
  color: #585858;
  font-size: 1rem;
  float:right;
  position:relative;
  bottom: 90px;
  right: 162px;
}
// @media only screen and (min-width: 1200px) and (max-width: 1630px)
// {
//   #genre-page{
//     background-color: red;
//   }
//   img{
//     margin-left: 2%;
//   }
// }
//
//
@media only screen and (max-width:1010px)
  {
    #genre-page{
      ul{
        li{
          a{
              img{
                width: 300px;
              }
          div{
            width: 300px;
          }

          }

    }
    }
}
}
@media only screen and (max-width: 680px)
{
  #myInput{
    bottom: 40px;
    right: 180px;;
  }
    #genre-page{
      ul{
        margin-left: 150px;
        li{
          a{
            img{
              width: 330px;
            }
            div{
              width: 330px;
            }
          }
        }
      }
    }

}





#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #585858; /* Set a background color */
    color: #e7e6e6; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 1.5rem;
    &:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }
}
