#genre-name{
    margin-top:40px;
    margin-bottom:40px;
    position:relative;
    font-size:3em;
    left:10%;
    overflow:hidden;
    max-width:500px;
}

#genre-name:hover{
    color:#585858;
}

#genre-page{
    position:relative;
}
#genre-page ul{
    border-top:5px solid #585858;
    padding-top:50px;
    margin: auto;
    padding-left: 0px;
}

#genre-page li{
    display:inline;
    list-style-type: none;
    margin: auto;
}

#genre-page ul a{
    display:none;
}

#genre-page img{
    visibility: visible;
    width:25%;
    padding-bottom:50px;
    padding-left: 2%;
    padding-right: 2%;
    display: inline-block;
}

#myInput{
  font-family: 'Amatic SC';
  width: 15%;
  border: 1px solid #585858;
  color: #585858;
  font-size: 1rem;
  margin-left: 10%;
  float:right;
  position:relative;
  bottom:90px;
  right:50px;
}
.containerImage{
    position: relative;
    width: 20%;
    display: inline-block;
}

}
.imageGenre {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;

}

.middleGenre {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

li:hover .imageGenre {
  opacity: 0.3;
}

li:hover .middleGenre {
  opacity: 1;

}
.textGenre{
  background-color: #6f796e;
  color: #e7e6e6;
  font-size: 1rem;
  padding-left: 25px;
  padding-right: 25px;
  width:auto;
  padding-top:9px;
  text-align: center;
  font-family: 'Amatic SC';
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #585858; /* Set a background color */
    color: #e7e6e6; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 1.5rem;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
