@import url(../footer.css);
@import url(../header-nav.css);

*{
  box-sizing:border-box;
}


html{
  font-size: 24px;
  background-color: #e7e6e6;
  color: #585858;
  font-family: 'Amatic SC';
}

header{
  background-color: #6f796e;
  font-family: 'Amatic SC';
  color: #dfdada;
}

main h1{
    margin-top:40px;
    margin-bottom:40px;
    position:relative;
    font-size:3em;
    left:10%;
    overflow:hidden;
    max-width:500px;
}

main h1:hover{
    color:#585858;
}

main{
    position:relative;
    float:center;
}
main ul{
    border-top:5px solid #585858;
    padding-top:50px;
}

main li{
    display:inline;
    list-style-type: none;
}

main ul a{
    display:none;
}

main img{
    visibility: visible;
    width:20%;
    padding-bottom:50px;
}

#myInput{
  font-family: 'Amatic SC';
  width: 15%;
  border: 1px solid #585858;
  color: #585858;
  font-size: 1rem;
  margin-left: 10%;
  float:right;
  position:relative;
  bottom:100px;
}
