html
{
    font-family: 'Amatic SC';
    font-size: 24px; 
    background-color: #e7e6e6;
    color: #585858;
}
div img
{
    height: 700px; 
    width: 700px; 
}
#photo
{
    float: left;  
}
#description
{
    float: right; 
    width: 50%;
    margin: 50px; 
}
h1{
    font-size: 3rem;
    text-align: center;
}
p
{
    font-size: 2rem;
    text-align: left;
}

aside ul li:hover{
    color: #6f796e;
}

aside ul ul {
    background-color:#e7e6e6
}
