.footer{
  background-color: #6f796e;
  padding: 1%;
  display: block;
  margin-top: 600px;
}

.footerText{
  text-align: center;
  font-size: 1.5em;
}

.socialMedia{
  text-align: center;
  font-size: 3em;
  letter-spacing: 10px;
  a
 {
   color: #585858;
   text-decoration: none;
   &:hover{
     color: #f2ddde;
   }
 }
}
