.footer{
  background-color: #6f796e;
  padding: 1%;
  display: block;
}

.footerText{
  text-align: center;
  font-size: 1.5em;
}
 
.socialMedia{
  text-align: center;
  font-size: 3em;
}
 
.socialMedia i:hover{
  color: #f2ddde;
}