header{
  background-color: #6f796e;
  font-family: 'Amatic SC';
  color: #dfdada;
}

.navigation {
  text-align: center; 
  padding-top: 0px;
  margin-top:0px;
}

.navigation li
{
  list-style: none;
  display: inline-block;
  font-size: 2rem;
  padding-left: 25px; 
  padding-right: 25px;
  padding-top: 0px;
  margin-top:0px;
}
.navigation li a
{
    text-decoration: none;
}
header img
{
    width: 100px;
    display: block;
    text-align:left;
    padding-top: 0px; 
    padding-bottom: 0px;
    margin-top:0px;
    margin-bottom: 0px;
}
#brand
{
    padding-top: 50px; 
    padding-bottom: 0px;
    margin-top:0px;
    margin-bottom: 0px;
    text-align:center;
    font-size: 4rem;
    color: #dfdada;
}
#brand a 
{
    text-decoration: none;
}
#brand a:hover 
{
    color: #f2ddde;
}
#brand a:visited{
    color: #dfdada;
    text-decoration: none;
}
.navigation li  a:hover{
  color: #f2ddde;
}
nav ul li a:visited
{
    color: #dfdada;
}

.dropdown-pages, .dropdown-button{
    list-style-type:none;
    display:inline-block;
    text-align:center;
    text-decoration:none;
}

.dropdown{
    display:inline-block;
    position: relative;

}

.dropdown-content{
    display:none;
    position:absolute;
    z-index:1;
    width:100%;
    padding-right:1%;
    padding-left:1%;
    background-color: #6f796e;
}

.dropdown-content li{
    display:block;
    text-align:left;
    font-size: 2rem;
    margin:0;
    padding:0;
}

.dropdown:hover .dropdown-content{
    display:block;
}

