header{
    background-color: #6f796e;
    font-family: 'Amatic SC';
    color: #dfdada;
    nav{
        li, #brand{
            list-style-type:none;
            a{
                color:#dfdada;
                text-decoration:none;
                &:hover{
                    color:#f2ddde;
                }
            }
        }
        #brand{
            font-size:4rem;
            text-align:center;
            padding-top: 50px;
            padding-bottom:50px;
            margin:0px; 
        }
        .navigation-bar{
            display:flex;
            align-items:flex-end;
            justify-content:space-between;
            #logo img{
                width:100px;
                padding-top: 0px;
                padding-bottom: 0px;
                margin:0px 50px;
            }
            .navigation{
                text-align:center;
                display:flex;
                flex-direction:row;
                padding:0px;
                width:1000px;
                li{
                    font-size:2rem;
                    padding-left: 25px;
                    padding-right: 25px;
                }
                .dropdown{
                    display:inline-block;
                    position:relative;
                    &:hover .dropdown-content{
                        display:flex;
                        flex-direction:column;
                    }
                    .dropdown-content{
                        display:none;
                        position:absolute;
                        text-align:center;
                        z-index:5;
                        padding:10px;
                        li{
                            margin:0;
                            background-color:#6f796e;
                            font-size:1.7rem;
                        }
                    }
                    
                }
            }
            .navigation-mobile{
                display:none;
            }
        }
    }
    @media only screen and (max-width:1216px){
        .navigation-bar{
            .navigation{
                .pages{
                    font-size:1.5rem;
                }
                .dropdown{
                    .dropdown-content{
                        padding:5000px;
                        .dropdown-pages{
                            font-size:1.3rem;
                        }
                    }
                }
            }
        }
    }
}
