header{
    background-color: #6f796e;
    font-family: 'Amatic SC';
    color: #dfdada;
    li, #brand{
        list-style-type:none;
        a{
            color:#dfdada;
            text-decoration:none;
            &:hover{
                color:#f2ddde;
            }
        }
    }
    #brand{
        font-size:4rem;
        text-align:center;
        padding-top: 50px;
        padding-bottom:25px;
        margin:0px; 
    }
    nav.desktop{
        display:flex;
    }
    nav.mobile{
        display:none;
    }
    nav{
        align-items:flex-end;
        justify-content:space-between;
        #logo img{
            width:100px;
            padding-top: 0px;
            padding-bottom: 0px;
            margin:0px 50px;
        }
        .navigation{
            text-align:center;
            display:flex;
            flex-direction:row;
            padding:0px;
            width:1000px;
            li{
                font-size:2rem;
                padding-left: 25px;
                padding-right: 25px;
            }
            .dropdown{
                display:inline-block;
                position:relative;
                &:hover .dropdown-content{
                    display:flex;
                    flex-direction:column;
                }
                .dropdown-content{
                    display:none;
                    position:absolute;
                    text-align:center;
                    z-index:5;
                    padding:10px;
                    li{
                        margin:0;
                        background-color:#6f796e;
                        font-size:1.7rem;
                    }
                }
            }
        }
    }

    @media only screen and (max-width:1216px){
        .desktop{
            display:flex;
            .navigation{
                justify-content:flex-end;
                .pages{
                    font-size:1.5rem;
                }
                .dropdown{
                    .dropdown-content{
                        padding:5.6px;
                        .dropdown-pages{
                            font-size:1.3rem;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width:1054px){
        nav.desktop{
            display:none;
        }
        nav.mobile{
            display:flex;
            .navigation{
                justify-content:flex-end;
                margin-right:40px;
                .dropdown{
                    .dropdown-content{
                        li{
                            padding:0px 8.6px;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width:600px){
        #brand{
            font-size:2.5rem;
            display:flex;
            justify-content:flex-end;
            padding-right:40px;
        }
        nav.mobile{
            display:flex;
            #logo img{
                width:75px;
                position:absolute;
                top:40px;
                left:20px;
            }
            .navigation{
                width:600px;
                justify-content:space-around;
            }
        }
    }
    @media only screen and (max-width:500px){
        #brand{
            padding-right:0;
            display:flex;
            justify-content:center;
            text-align:center;
        }
        nav.mobile{
            display:flex;
            flex-direction:column;
            span#logo{
                display:flex;
                justify-content:center;
                margin:auto;
                img{
                    width:100px;
                    position:relative;
                    top:0;
                    left:0;
                    margin:10px;
                }
            }
            .navigation{
                width:350px;
                display:flex;
                justify-content:center;
                margin:auto;
                .dropdown{
                    .dropdown-content{
                        justify-content:center;
                        top:51px;
                        li{
                            font-size:1.4rem; 
                        }
                        &:hover{
                            display:flex;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width:360px){
        nav.mobile{
            #brand{
                text-align:center;
                font-size:1rem;
            }
            .navigation{
                width:300px;
                li{
                    font-size:1.4rem;
                }
                .dropdown{
                    .dropdown-content{
                        justify-content:center;
                        top:30px;
                        right:-20px;
                        li{
                            font-size:1.3rem; 
                        }
                        &:hover{
                            display:flex;
                        }
                    }
                }
            }
        }
    }
}