@import url(footer.css);
@import url(header-nav.css);
@import url(album-page/albumBody.css);
@import url(genre-page/genre-style.css);
@import url(home-page/home-style.css);
@import url(error-page/error-page.css);
@import url(error-page/not-found-page.css);

*{
  box-sizing:border-box;
}

html{
  font-size: 24px;
  background-color: #e7e6e6;
  color: #585858;
  font-family: 'Amatic SC';
}
