@import url(../home-page/home-style.css);

html
{
    font-family: 'Amatic SC';
    font-size: 24px;
    background-color: #e7e6e6;
    color: #585858;
}
.albumBodyAlbum
{
    height: 700px;
    width: 700px;
}
#photo
{
    float: left;
}
#description
{
    float: right;
    width: 50%;
    margin: 50px;
}
.albumBodyTitle{
    font-size: 3rem;
    text-align: center;
}
.albumBodyDescription
{
    font-size: 2rem;
    text-align: left;
}

.albumBodyLink:hover{
    color: #6f796e;
}

.albumBodyUl{
    background-color:#e7e6e6
}
